.rodape {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  height: 65px;
  padding: 16px 32px;
  background: #fff;
}

.brasao {
  height: 32px;
  width: auto;
}

.versao {
  font-family: var(--font-roboto);
  font-size: 14px;
  color: var(--color-footer-version-text);
}
